


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
            .zoom:hover {
                background-color: #000;
                transition: transform 1s;
                transform: scale(1.08);
            }

     input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
         border-bottom-color: #4834d4;
        background-color: #130f40;

         font-size: 18px; color:#FFF; margin-top: 20px;margin-left: 35px;
      }

      .no-outline:focus {
        outline: none;
      }
        </style>
    <title>Video Streaming</title>
</head>
<body >
<div style="background:#000; height: 100%;padding: 5px;">

<div style="background: #000; display:flex; flex-direction: row;align-items: center; ">

    <div style="margin:5px">
      <img src="/static/dh.svg">
    </div>
   <div style="margin-right: 20px;"></div>


    {%  for row in rows %}

      <div style="padding:5px;margin-right:20px;font-size: 16px;font-weight: bold; letter-spacing: 1px; color:#f6e58d;" >

        {{ row.1 }}

    </div>
      {% endfor %}
<div style="padding:5px;margin-left:auto;justify-content: right;  ">
    <img src="/static/user.png"  width="30"/>

    <a  style="background:#000; color:#FFF; border-color: #000;" class = "button  modal-button" data-target = "#modal">Login</a>
</div>
</div>
<!----------Dialog ------>
<div id="modal" class = "modal">
  <div class="modal-background"></div>
  <div style="width:400px; height:250px; background: #130f40; " class="modal-content">
      <div style="font-weight:700; font-size: 18px; color:#FFF;padding: 10px; margin-top: 20px;margin-left: 35px; ">Login to continue</div>
            <div>
                <span>+91</span>
                <input type="text" class="no-outline" />

             </div>
       <button  id="m_close" data-target = "#modalotp"  style="font-weight:700; font-size: 18px; color:#FFF;padding: 2px; margin-top: 20px;margin-left: 35px; width:250px; " class="button is-link is-hovered">Continue</button>

  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!----------otp ------>
<div id = "modalotp" class = "modal">
  <div class="modal-background"></div>
  <div style="width:400px; height:250px; background: #130f40; " class="modal-content">
      <div style="font-weight:700; font-size: 18px; color:#FFF;padding: 10px; margin-top: 20px;margin-left: 35px; ">OTP</div>



       <button  id="m_close"  style="font-weight:700; font-size: 18px; color:#FFF;padding: 2px; margin-top: 20px;margin-left: 35px; width:250px; " class="button is-link is-hovered">Continue</button>

  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>



<!-- Start Hero Carousel -->
		<section class="hero is-medium has-carousel" >
			<div id="carousel-demo" class="hero-carousel" >
				<div class="item-1" style="width:800px; height:500px;">
									<img src="/static/sc1.jpg"  >
									</div>
									<div class="item-2" style="width:800px; height:500px;">
										<img src="/static/sc4.jpg"  >
									</div>
									<div class="item-3" style="width:800px; height:500px;">
									<img src="/static/sc3.jpg"  >
									</div>
									<div class="item-4" style="width:800px; height:500px;"  >
								   <img src="/static/sc2.jpg"  >
									</div>
				                    <div class="item-5" style="width:800px; height:500px;">
								<img src="/static/sc1.jpg"  >
									</div>
										<div class="item-6" style="width:800px; height:500px;">
														<img src="/static/sc4.jpg" width="800" >
														</div>

			</div>
			<div class="hero-head"></div>
			<div class="hero-body"></div>
			<div class="hero-foot"></div>
		</section>
		<!-- End Hero Carousel -->
<div style="padding:5px;color: #FFF;font-weight: bold;font-size: 22px;letter-spacing: 1px">
    Latest & Trending
</div>

<section class="hero is-medium has-carousel"  style="height:180px">
			<div class="show"   id="trending" class="hero-carousel" >
                {% for trending in trows %}
     	<div  class="zoom"  style="margin:5px;border-radius: 10px;">
            <a href="/preview?row={{ trending }}"> <img   src="/static/{{trending.11}}" style="width:150px;border-radius: 10px;" /></a>

        </div>

    {% endfor %}
</div>

		</section>


<div style="padding:5px;color: #FFF;font-weight: bold;font-size: 22px;letter-spacing: 1px">
    Tv Shows & Web Series
</div>
<section class="hero is-medium has-carousel" style="height:180px">
			<div class="show" id="tvshows" class="hero-carousel2" >
                {% for tv in tvrows %}
     	<div   class="zoom"  style="margin:5px">
            <a href="/tvpreview?row={{ tv }}">   <img  src="/static/{{tv.11}}" style="width:150px;border-radius: 10px;" /></a>

      </div>
    {% endfor %}

</div>

		</section>
</div>

<div style="background-color:#192a56;position: absolute; margin: 0 auto; width:100%;" >
                <div style="margin:0 auto;width:77%;">
                    <div style="padding:10px;margin:10px;list-style-type: none;float: left; width:45%;">
                        <h1 style="text-align: left;color:#ffffff;border-bottom: 2px solid red;">Contact</h1>
                        <li style="float: left;padding-right: 20px;"><a href="#"style="font-weight:bold;color:#ffffff;font-size: 15px;text-decoration: none;" >Home</a></li>
                        <li style="float: left;padding-right: 20px;"><a href="#"style="font-weight:bold;color:#ffffff;font-size: 15px;text-decoration: none;">About</a></li>
                        <li style="float: left;padding-right: 20px;"><a href="#" style="font-weight:bold;color:#ffffff;font-size: 15px;text-decoration: none;">Contact</a></li>
                        <li style="float: left;padding-right: 20px;"><a href="#" style="font-weight:bold;color:#ffffff;font-size: 15px;text-decoration: none;">Terms & Condition</a></li>
                        <div style="text-align: left;padding-top: 20px;font-size: 16px;color:#ffffff">
                            <p style="font-size: 14px;"><i class="fa fa-home" style="font-size:16px"></i> Head Office :- H.C. : 13, Gulabchand Ki Bagichi, Behind Jhawar Estate, Thatipur, Gwalior- 474011 (M.P.)</p>
                        </div>
                    </div>
                    <div style="padding:10px;margin:10px;list-style-type: none;float: left; width:20%;">
                        <h1 style="text-align: left;color:#ffffff;border-bottom: 2px solid red;;">Connect with us</h1>
                        <div style="text-align: left;padding-top: 20px;font-size: 16px;color:#ffffff">

                            <i class="fab fa-facebook-square" style="font-size:36px"></i>
                            <i class="fab fa-twitter-square" style="font-size:36px"></i>
                            <i class="fab fa-instagram" style="font-size:36px"></i>

                        </div>
                    </div>
                    <div style="padding:10px;margin:10px;list-style-type: none;float: left; width:23%;">
                        <h1 style="text-align: left;color:#ffffff;border-bottom: 2px solid red;">Disney+ Hotstar App</h1>
                        <div style="text-align: left;font-size: 16px;color:#ffffff">
                            <a href="#"><img style="padding: 5px;" src="/static/appstore.png" ></a>
                            <a href="#"><img  style="padding: 5px;" src="/static/playstore.png" ></a>
                        </div>
                    </div>
                </div>
            </div>


<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
		<script>
			bulmaCarousel.attach('#carousel-demo', {
				slidesToScroll: 1,
				slidesToShow: 2,
                autoplay:true,
                autoplaySpeed:5000,
                loop:true,

			});
		</script>

       <script>
			bulmaCarousel.attach('#trending', {
				slidesToScroll: 1,
				slidesToShow: 10,
                pagination:false
			});
		</script>
     <script>
			bulmaCarousel.attach('#tvshows', {
				slidesToScroll: 1,
				slidesToShow: 10
			});
		</script>

<script>
         $(".modal-button").click(function() {
            var target = $(this).data("target");
            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
         });

         $(".modal-close").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
         });

          $("#m_close").click(function() {

            $("html").removeClass("is-clipped");
           $(".modal").removeClass("is-active");


           var target = $(this).data("target");
            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
         });



      </script>


</body>
</html>